.watchlist-icon {
	position: relative;
	color: rgb(97, 110, 120);
	font-size: 1.5rem;
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
	cursor: pointer;
	&:hover {
		color: rgb(21, 86, 133);
	}
	&__text {
		font-size: 14px;
		font-weight: bold;
		position: absolute;
		right: 0;
		bottom: 15%;
		color: rgb(21, 25, 133);
	}
}
